body
{
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TodoWrapper{
  background: gray;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}
.TodoForm{
  width: 100%;
  margin-bottom: 1rem;
}
.btn{
  background: skyblue;
  font-weight: bold;
  color: white;
  border: gray solid 2px;
  border-radius: 5px;
  padding: 6px;
  margin: 5px;
}
.todo-input{
  background-color: skyblue;
  border: white solid 3px;
  border-radius: 6px;
  padding: 6px;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: skyblue;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash{
  margin-left: .75rem;
  transition: all 0.02s;
  &:hover{
    transform: scale(1.15);
  }
}

.fa-square{
  margin-left: .75rem;

  transition: all 0.02s;
  &:hover{
    transform: scale(1.15);
  }
}
.fa-square-check{
  margin-left: .75rem;

  transition: all 0.02s;
  &:hover{
    transform: scale(1.15);
  }

}

.Title{
  color: white;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}

.completed {
  color: gray;
  text-decoration: line-through;
  cursor: pointer;
}

.example-custom-input{
  color: white;
  background-color: skyblue;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}

